body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
.myButton {
    background-color: white;
    border: 1px solid rgba(205, 171, 171, 0.6);
    font-weight: 600;
    font-size: 20px;
    outline: none;
    z-index: 100;
    border-radius: 50px;
    cursor: pointer;
    color: #141414;
    float: center;
    margin: 5px;
    height: 50px;
    width: 150px;
    opacity: 1;
    transition-duration: 0.3s;
  }

  .myButton:hover {
    z-index: 100;
    background-color: skyblue;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}
 
#welcome {
    margin-top: 40px;
    font-size: 2rem;
    text-align: left;
    padding: 80px;
    margin-bottom: 500px;
}

#welcomeText {
  float: left;
  width: 50%;
  font-size: 2rem;
  color: black;
}

#keyWord {
  color: steelblue;
  font-size: 3rem;
  font-weight: 600;
}
 
#projects {
    margin-top: 500px;
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    height: 80vh;
    padding: 80px;
}

#contact {
    margin-top: 500px;
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    padding: 80px;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .sticky {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
  }

  .responsive-canvas {
    height: 80%; /* Adjust height as needed */
    width: 100%; /* Full width */
  }
  
  @media (max-width: 600px) {
    .responsive-canvas {
      height: 60vh; /* Adjust height for smaller screens */
    }
  }